# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

node_modules
.android


elm-stuff

www/js/elm.js

plugins
platforms

.task

mixnet-plugin/src/android/mixnet-sources.jar
mixnet-plugin/src/android/mixnet.aar
